@model L2_podejscie_2.ViewModels.RandomBikeViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Bike.Model</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this bike before.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}
